* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #140e17;
  scroll-behavior: smooth;
}

body.no-scroll {
  overflow: hidden;
}

input,
button,
textarea {
  display: block;
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
}

.header {
  width: 100%;
  margin-top: 64px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
.header.fixed {
  margin-top: 20px;
  position: fixed;
}
.header.fixed .header__inner {
  box-shadow: 0 3px 5px rgba(180, 186, 195, 0.3);
}

.header__inner,
.header__menu {
  display: flex;
  align-items: center;
}

.header__inner {
  justify-content: space-between;
  padding: 18px 24px;
  background-color: #333333;
  border-radius: 32px;
}
.header__inner.fix-border {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.header__menu {
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.header__login {
  padding: 9px 18px;
  background-color: #ebebeb;
  border-radius: 16px;
  cursor: pointer;
}
.header__login.no-hidden {
  display: block;
}

.header-login__text {
  display: none;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  top: 142px;
  left: 48px;
  transition: color 0.1s linear;
}
.header-login__text:hover {
  color: #f5fa93;
}
.header-login__text.show {
  display: block;
}

@media screen and (max-width: 1024px) {
  .header__inner {
    position: relative;
  }
  .header__login {
    display: none;
    position: absolute;
    top: 136px;
    right: 32px;
  }
}
.container {
  width: 100%;
  max-width: 1040px;
  padding: 80px 20px 0;
  margin: 0 auto;
}
.container--header {
  max-width: 1058px;
  padding-top: 0;
}
.container--intro, .container--feedback {
  padding-top: 0;
}

.logo {
  display: flex;
  align-items: center;
  cursor: default;
}
.logo--header {
  -moz-column-gap: 4px;
       column-gap: 4px;
  padding: 8px 16px;
  background-color: #f5fa93;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 1;
  color: #000000;
  border-radius: 16px;
}
.logo--header.hidden {
  display: none;
}
.logo--footer {
  -moz-column-gap: 6.5px;
       column-gap: 6.5px;
  padding: 4px 8px;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.3658;
  color: #ffffff;
}

.nav {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.nav.no-hidden {
  display: flex;
}

.nav__link {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.366;
  color: #ffffff;
  transition: color 0.1s linear;
}
.nav__link:hover, .nav__link.active {
  color: #f5fa93;
}

@media screen and (max-width: 1024px) {
  .nav {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 142px 24px 18px;
    background-color: #333333;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
    position: absolute;
    top: 58px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .nav__link {
    width: 100%;
    padding: 24px;
    font-size: 24px;
    line-height: 1.16;
    border-top: 1px solid #76757b;
  }
}
.burger {
  display: none;
  width: 56px;
  height: 40px;
  background-color: #76757b;
  border-radius: 16px;
  cursor: pointer;
  position: relative;
}
.burger.active .burger__item::before, .burger.active .burger__item::after {
  width: 22px;
  top: 50%;
  left: 50%;
}
.burger.active .burger__item::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.burger.active .burger__item::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.burger__item {
  width: 14px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger__item::before, .burger__item::after {
  content: "";
  width: 14px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  transition: width 0.1s linear, transform 0.1s linear;
}
.burger__item::before {
  top: 0;
}
.burger__item::after {
  bottom: 0;
}

@media screen and (max-width: 1024px) {
  .burger {
    display: block;
  }
}
.intro {
  padding-top: 220px;
}

.intro__inner {
  display: flex;
  justify-content: space-between;
}

.intro__content {
  width: 100%;
  max-width: 540px;
  margin-top: 14px;
}

.intro__title,
.intro__preview {
  position: relative;
}

.intro__title {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 68px;
  line-height: 1.1;
  color: #ffffff;
}

.intro__text {
  margin-top: 50px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  color: #ffffff;
}

.intro__img--1, .intro__img--2, .intro__img--3 {
  position: absolute;
}
.intro__img--1 {
  top: -14px;
  right: 13px;
}
.intro__img--2 {
  bottom: -26px;
  left: 57px;
}
.intro__img--3 {
  top: 0;
  right: 44px;
}
.intro__img--preview {
  width: 100%;
  max-width: 444px;
}

.intro__preview {
  width: 100%;
  max-width: 444px;
}

.intro__form {
  display: flex;
  align-items: center;
  gap: 0 24px;
  margin-top: 14px;
}

.intro__label {
  width: 100%;
  max-width: 317px;
}

@media screen and (max-width: 1024px) {
  .intro__inner {
    position: relative;
  }
  .intro__preview {
    opacity: 0.2;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
  }
  .intro__form {
    margin-top: 64px;
  }
}
@media screen and (max-width: 767px) {
  .intro__title {
    width: 335px;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.286;
    color: #ffffff;
  }
  .intro__form {
    flex-direction: column;
    align-items: baseline;
    gap: 24px 0;
  }
  .intro__img--1 {
    width: 34px;
    height: 30px;
    top: 0;
    right: 36px;
  }
  .intro__img--2 {
    width: 100px;
    height: 20px;
    bottom: -20px;
    left: 0;
  }
  .intro__img--3 {
    width: 22px;
    height: 22px;
    right: 26px;
  }
  .intro__preview {
    max-width: 258px;
  }
}
.button {
  display: block;
  padding: 18px 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.366;
  color: #ffffff;
  border-radius: 18px;
  cursor: pointer;
  transition: color 0.1s linear, background-color 0.1s linear;
}
.button--input, .button--screens, .button--price {
  width: 100%;
}
.button--input {
  color: #000000;
  cursor: text;
}
.button--input::-moz-placeholder {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.366;
  color: #76757b;
}
.button--input::placeholder {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.366;
  color: #76757b;
}
.button--input:focus {
  outline: 2px solid #0a84ff;
}
.button--intro, .button--feedback {
  display: flex;
  align-items: center;
}
.button--intro {
  -moz-column-gap: 12px;
       column-gap: 12px;
  color: #000000;
  background-color: #f5fa93;
}
.button--intro:hover {
  background-color: #ffffff;
}
.button--screens {
  max-width: 247px;
  border: 1px solid #333333;
  border-radius: 18px;
}
.button--price {
  max-width: 200px;
  margin-top: 24px;
  text-align: center;
  background-color: #000000;
  position: absolute;
  bottom: 32px;
  left: 32px;
}
.button--screens:hover, .button--price:hover {
  color: #000000;
  background-color: #ffffff;
}
.button--feedback {
  -moz-column-gap: 8px;
       column-gap: 8px;
  width: 100%;
  text-align: center;
  background-color: #140e17;
  border: 1px solid #333333;
}
.button--feedback:hover {
  color: #000000;
  background-color: #f5fa93;
}
.button--feedback:hover .feedback-button__icon {
  fill: #000000;
}
.button--feedback-form {
  max-width: 180px;
  margin-top: 24px;
}
.button--feedback-send {
  max-width: 260px;
  margin-top: 32px;
}
.button--textarea {
  height: 111px;
}
.button--select {
  width: 100%;
  padding-right: 30px;
  color: #76757b;
  background-color: #ffffff;
  cursor: default;
  position: absolute;
  z-index: 1;
}
.button--select::after {
  content: "";
  display: none;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border: 2px solid #0a84ff;
  border-radius: 18px;
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: -1;
}
.button--select.focus::after {
  display: block;
}

.features {
  display: flex;
  align-items: center;
  gap: 24px;
}

.features__card {
  width: 33.33333%;
  height: 398px;
  padding: 32px;
  border: 1px solid #f5fa93;
  border-radius: 32px;
}

.features__preview {
  display: flex;
  align-items: center;
  height: 80px;
}
.features__preview--center {
  justify-content: center;
}
.features__preview--right {
  justify-content: right;
}

.features__title {
  margin-top: 24px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.28;
  color: #ffffff;
}

.features__text {
  margin-top: 18px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.44;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .features {
    flex-wrap: wrap;
  }
  .features__card {
    width: 100%;
  }
  .features__card--1 {
    height: 266px;
  }
  .features__card--2 {
    height: 292px;
  }
  .features__card--3 {
    height: 346px;
  }
  .features__title--3 {
    width: 200px;
  }
  .features__text--3 {
    width: 272px;
  }
}
@media screen and (max-width: 767px) {
  .features__card--1 {
    height: 372px;
  }
  .features__card--2 {
    height: 398px;
  }
}
.screens__img {
  max-width: 100%;
}

.screens__content {
  padding: 24px;
  margin-top: 32px;
  border: 1px solid #333333;
  border-radius: 32px;
}

.screens__title {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  color: #ffffff;
}

.screens-br__tablet {
  display: none;
}

.screens__button {
  display: flex;
  justify-content: right;
  margin-top: 32px;
}

@media screen and (max-width: 1024px) {
  .screens-br__tablet {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .screens-br__tablet:first-child {
    display: none;
  }
}
.price__inner {
  display: flex;
  align-items: center;
  gap: 0 32px;
  margin-top: 32px;
}

.price__item {
  width: 50%;
  height: 448px;
  padding: 32px;
  background-color: #f5fa93;
  border-radius: 32px;
  position: relative;
}

.price__category {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.083;
  color: #000000;
}

.price__price {
  margin-top: 18px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.3685;
  color: #000000;
}

.price__number {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 68px;
  line-height: 1.1;
  color: #000000;
}

.price__word {
  margin-left: -6px;
}

.price__list {
  margin-top: 18px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.4;
  color: #000000;
}

.price-list__inner {
  margin-top: 18px;
}

.price__text {
  margin-top: 8px;
  font-weight: 600;
}
.price__text:first-child {
  margin-top: 0;
}
.price__text::before {
  content: url("../../img/icons/black-check.png");
  padding: 7px 4.5px;
}

.price__tag {
  width: 100%;
  max-width: 144px;
  padding: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.366;
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #333333;
  border-radius: 18px;
  position: absolute;
  top: -25px;
  right: 32px;
}

@media screen and (max-width: 1024px) {
  .price__item {
    height: 496px;
  }
  .price-list__inner--2 {
    margin-top: 43px;
  }
}
@media screen and (max-width: 767px) {
  .price__inner {
    flex-wrap: wrap;
    gap: 32px 0;
  }
  .price__item {
    width: 100%;
  }
  .price__item:first-child {
    height: 464px;
  }
}
.title {
  padding-left: 24px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.083;
  color: #f5fa93;
}

.faq__inner {
  margin-top: 32px;
}

.faq__item {
  margin-top: 10px;
  padding: 24px;
  border: 1px solid #333333;
  border-radius: 32px;
}
.faq__item:first-child {
  margin-top: 0;
}
.faq__item.active .faq__text {
  display: block;
}
.faq__item.active .faq__icon::after {
  display: none;
}

.faq__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  color: #ffffff;
}

.faq__icon {
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
}
.faq__icon::before, .faq__icon::after {
  content: "";
  width: 16px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.faq__icon::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.faq__text {
  display: none;
  margin-top: 32px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.44;
  color: #76757b;
}

.footer {
  display: flex;
  align-items: start;
  gap: 0 24px;
  padding: 60px 0;
}

.footer__column {
  width: 25%;
}

.footer__link {
  display: block;
  margin-top: 20px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.366;
  color: #ffffff;
}
.footer__link:first-child {
  margin-top: 0;
}
.footer__link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

@media screen and (max-width: 1024px) {
  .footer {
    flex-wrap: wrap;
    gap: 24px 0;
  }
  .footer__column {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .footer__column {
    width: 100%;
  }
}
.socials {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-top: 40px;
}

.feedback {
  display: flex;
  justify-content: right;
  padding-bottom: 64px;
  margin-top: 100px;
}

.feedback__button {
  width: 56px;
  height: 56px;
  background-color: #f5fa93;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: background-color 0.1s linear;
}
.feedback__button:hover {
  background-color: #ffffff;
}

.feedback__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feedback__inner {
  padding: 32px;
  border: 1px solid #f5fa93;
  border-radius: 32px;
}

.feedback__preview {
  padding: 20px 0;
}

.feedback__content {
  width: 100%;
  max-width: 456px;
}

.feedback__title {
  margin-top: 24px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.28;
  color: #ffffff;
}

.feedback__text {
  margin-top: 18px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.44;
  color: #ffffff;
}

.feedback__form {
  margin-top: 24px;
}

.feedback-form__inner {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.feedback-select__inner {
  min-width: 100%;
  min-height: 60px;
  position: relative;
}

.feedback-select__text {
  cursor: default;
}

.feedback-select__icon {
  padding: 8px 4px;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 14px;
}
.feedback-select__icon.active {
  transform: rotate(180deg);
}

.feedback__options.active {
  margin-top: 24px;
}
.feedback__options.active .feedback__option {
  display: block;
}

.feedback__option {
  display: none;
  padding-top: 8px;
  margin-top: 16px;
  border-top: 1px solid #ebebeb;
  cursor: pointer;
  transition: color 0.1s linear;
}
.feedback__option:first-child {
  padding-top: 0;
  margin-top: 0;
  border-top: none;
}
.feedback__option:hover {
  color: #0a84ff;
}
.feedback__option.active {
  display: block;
  width: calc(100% - 54px);
  padding-top: 0;
  margin-top: 0;
  background-color: #ffffff;
  border-top: none;
  cursor: default;
  position: absolute;
  top: 18px;
  left: 14px;
}
.feedback__option.active:hover {
  color: #76757b;
}

.feedback-button__text {
  width: 100%;
}

.feedback-button__icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  transition: fill 0.1s linear;
}

.mask {
  display: none;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.mask.show {
  display: block;
}

.modal {
  display: none;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: auto;
  background-color: #140e17;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 64px 20px;
  z-index: 1001;
}
.modal.show {
  display: flex;
}

.modal__dialog {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  position: relative;
  transform: scale(0);
  transition: transform 0.2s linear;
}/*# sourceMappingURL=style.css.map */